.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .game-container {
    width: 750px;
    height: 500px;
    display: flex;
  }
}

.center-content {
  text-align: center;
  align-content: center;
}

.border {
  &-red {
    border: 1px solid red;
  }

  &-blue {
    border: 1px solid blue;
  }

  &-green {
    border: 1px solid green;
  }

  &-black {
    border: 1px solid black;
  }
}
